/* Modal Container */
dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

/* Semi-transparent Overlay behind Modal */
::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Close Button in Top-Right Corner */
dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}