/* ============================================
   Desktop Layout
============================================ */

@media only screen and (min-width: 768px) {

    /* ---------- HEADER ---------- */

    header {

        padding: 1rem 2rem;

    }

    #menu {

        display: none;

    }

    /* ---------- NAVIGATION ---------- */

    nav {

        margin-left: auto;

    }

    .navigation {

        display: flex !important;

        flex-direction: row;

        gap: .5rem;

    }

    .navigation li {

        border: none;

    }

    .navigation a {

        border-radius: 6px;

    }

    /* ---------- MAIN GRID ---------- */

    main {

        display: grid;

        grid-template-columns: 2fr 1fr;

        gap: 1.5rem;

    }

    /* Page title */

    main h1 {

        grid-column: 1 / -1;

    }

    /* Courses spans full width */

    .courses {

        grid-column: 1 / -1;

    }

    /* ---------- COURSE GRID ---------- */

    #course-container {

        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    }

    /* ---------- FOOTER ---------- */

    .social {

        gap: 2rem;

    }

}

/* Modal Container */
dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

/* Semi-transparent Overlay behind Modal */
::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Close Button in Top-Right Corner */
dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}